.wrapper {
	padding: 1.5rem;
	border-radius: var(--border-md);
	box-shadow: var(--shadow-sm);
	margin-bottom: 2rem;
	position: relative;
}

.close {
	position: absolute;
	right: -1.25rem;
	top: -1.25rem;
}
